# Python
__pycache__/
*.py[cod]
*.sqlite3
.env
*.log

# Django migrations (optional if you're regenerating them often)
*/migrations/*.py
!*/migrations/__init__.py

# VS Code settings
.vscode/

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# React build files
build/
dist/

# OS files
.DS_Store
Thumbs.db

# Docker / Kubernetes (optional)
*.pid
*.sock
*.swp

# Backup or temp
*.bak
*.tmp
*~
